
*{margin:0; padding:0; box-sizing:border-box;}

body{
  font-family: Arial, sans-serif;
  background:#111;
  color:#fff;
}


.container{
  width: 90%;
  max-width: 1100px;
  margin:auto;
}


header{
  background:#222;
  padding:15px 0;
  position:sticky;
  top:0;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo {
  color: #ffe9a3;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 54px;
  width: auto;
  object-fit: contain;
  margin-left: -70px;
}

.logo span {
  font-size: 1.4rem;
  font-weight: 650;
  color: var(--accent);
  letter-spacing: 0.4px;
}

.logo :hover {
  filter: drop-shadow(0 0 6px rgba(166, 255, 0, 0.5));
  transform: scale(1.05);
  transition: .3s;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:20px;
}

.nav-links a{
  text-decoration:none;
  color:#ccc;
}

.nav-links a:hover{
  color:#00eaff;
}


.hamburger{
  display:none;
  font-size:26px;
  cursor:pointer;
}

#menu-toggle{display:none;}

@media(max-width:768px){
  .hamburger{display:block;}
  .nav-links{
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    background:#000;
    flex-direction:column;
    max-height:0;
    overflow:hidden;
    transition:.3s;
  }
  #menu-toggle:checked ~ nav .nav-links{
    max-height:300px;
    padding:10px 0;
  }
}


.hero{
  height:80vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:url("main.png") center/cover no-repeat;
  background-color:rgba(0,0,0,.5);
  background-blend-mode:darken;
}

.hero h2{
  font-size:32px;
  margin-bottom:10px;
  color:#ffe9a3;
}

.hero p{
  color:#ddd;
  margin-bottom:20px;
}

.search-bar{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:10px;
}

.search-bar input{
  padding:10px;
  width:250px;
  border:none;
  border-radius:5px;
  background:#222;
  color:white;
}

.search-bar button{
  padding:10px 15px;
  border:none;
  border-radius:5px;
  background:#00c7a6;
  color:#fff;
  cursor:pointer;
}


.section-title{
  text-align:center;
  font-size:26px;
  margin:40px 0 20px;
  color:#00eaff;
}


.grid{
  display:grid;
  gap:20px;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
}

.card{
  background:#1a1a1a;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:8px;
  margin-bottom:10px;
}

.card:hover{
  transform:translateY(-5px);
  transition:.3s;
}


footer{
  background:#000;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

footer p{
  color:#aaa;
  font-size:14px;
}


form{
  display:flex;
  flex-direction:column;
  max-width:500px;
  margin:auto;
}

form input,
form textarea{
  padding:10px;
  border:none;
  border-radius:5px;
  background:#222;
  color:white;
  margin-bottom:10px;
}

form button{
  padding:10px;
  background:#00eaff;
  border:none;
  border-radius:5px;
  color:#000;
  cursor:pointer;
}

.contact-grid{
  display:grid;
  gap:20px;
  grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
}


@keyframes fadeIn{
  from{opacity:0.2;}
  to{opacity:1;}
}

@keyframes slideUp{
  from{transform:translateY(20px); opacity:0;}
  to{transform:translateY(0); opacity:1;}
}

.hero h2,
.hero p{
  animation:fadeIn 1s ease-in;
}

.card{
  animation:slideUp 0.8s ease-out;
}
